@import '../../../colors.scss';

.tech-list {
  display: flex;
  flex-wrap: wrap;
  span{
      margin: 0 .8rem 0 0;
      font-weight: bold;
  }
}

.link-icons {
  display: flex;
  a {
      display: flex;
      align-items: center;
      text-decoration: none;
      span{
          color: $theme-grey-color;
          line-height: 1rem;
      }
  }
  a:hover {
      span {
          color: $theme-highlight-color;
      }
      i {
          color: $theme-highlight-color;
      }
  }
  a:active {
      span{
          color: $theme-dark-highlight-color;
          line-height: 1rem;
      }
      i {
          color: $theme-dark-highlight-color;
      }
  }
}

.github-ico {
  font-size: 1rem; 
}

.link-ico {
  font-size: 1rem; 
}