@import '../../colors.scss';
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $theme-secondary-color-9;  
}

.overlay-details {
    background-color: transparent;
    display: block;
}

.overlay-text {
    color: $theme-highlight-color;
    font-weight: bold;
    -webkit-touch-callout:  none; /* iOS Safari */
    -webkit-user-select:    none; /* Safari */
     -khtml-user-select:    none; /* Konqueror HTML */
       -moz-user-select:    none; /* Old versions of Firefox */
        -ms-user-select:    none; /* Internet Explorer/Edge */
            user-select:    none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.overlay-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.iconography {
    color: $theme-grey-color; 
    background-color: transparent;
}

.overlay-icons {
    a:hover {
        i {
            color: $theme-highlight-color;
        }
    }
    a:active {
        i {
            color: $theme-dark-highlight-color;
        }
    }
}

.github-ico {
    font-size: 1.5em; 
}

.link-ico {
    font-size: 1.7em; 
}
