@import '../../colors.scss';

.navbar {
    background-color: $theme-primary-color-9;
    span:hover {
        cursor: pointer;
    }
    
}
.nav-text {
    color: $theme-highlight-color;
}





// @import '~bootstrap/scss/variables'