@import '../../colors.scss';
.tile {
    background-color: $theme-secondary-color;
    position: relative;
    box-shadow: $theme-highlight-color 10px 10px 0px,
                $theme-highlight-color 0px 10px 0px,
                $theme-highlight-color 10px 0px 0px;
    transition: transform .3s,
                box-shadow .3s ease-in-out;
    img {
        width: 100%;
    }
}

.tile:hover {
    box-shadow: $theme-highlight-color 20px 20px 0px,
                $theme-highlight-color 0px 20px 0px,
                $theme-highlight-color 20px 0px 0px;
    transform: scale(1.01);
    img {
        // filter: grayscale(100%);
    }
    .overlay {
        opacity: 1;
        backdrop-filter: blur(15px);
    }

}


.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $theme-secondary-color-9;  
}

.overlay-details {
    background-color: transparent;
    display: block;
}

.overlay-text {
    color: $theme-highlight-color;
    font-weight: bold;
    -webkit-touch-callout:  none; /* iOS Safari */
    -webkit-user-select:    none; /* Safari */
     -khtml-user-select:    none; /* Konqueror HTML */
       -moz-user-select:    none; /* Old versions of Firefox */
        -ms-user-select:    none; /* Internet Explorer/Edge */
            user-select:    none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.overlay-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.iconography {
    color: $theme-grey-color; 
    background-color: transparent;
}

.overlay-icons {
    a:hover {
        i {
            color: $theme-highlight-color;
        }
    }
    a:active {
        i {
            color: $theme-dark-highlight-color;
        }
    }
}

.github-ico {
    font-size: 1.5em; 
}

.link-ico {
    font-size: 1.7em; 
}

@media (max-width: 975px) {
    .tile {
        div {
            overflow-x:scroll;
        }
    }
}