@import './colors.scss';

.parent-div {
    background-color: $theme-primary-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    footer {
        margin-top: auto;
        width: 100%;
    }
}

.no-decoration {
    text-decoration: none;
}

.section-backdrop {
    background-color: $theme-secondary-color-9;
}

.section-backdrop-borders {
    box-shadow: $theme-highlight-color 10px 10px 0px,
                $theme-highlight-color 0px 10px 0px,
                $theme-highlight-color 10px 0px 0px;
}

.iconography {
    color: $theme-grey-color; 
    background-color: transparent;
}

.footer-icon {
    font-size: 2rem; 
}

a:hover {
    i {
        color: $theme-highlight-color;
    }
}
a:active {
    i {
        color: $theme-dark-highlight-color;
    }
}