@import './colors.scss';
* {
  background-color: $theme-primary-color;
  color: $theme-grey-color;
  h1>span {
    color: $theme-highlight-color;
  }
  div, h1, h2, h3, h4, h5, h6, p, span, a {
    background-color: transparent;
  }
}

body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-select {
  -webkit-touch-callout:  none; /* iOS Safari */
  -webkit-user-select:    none; /* Safari */
   -khtml-user-select:    none; /* Konqueror HTML */
     -moz-user-select:    none; /* Old versions of Firefox */
      -ms-user-select:    none; /* Internet Explorer/Edge */
          user-select:    none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

